* {
    font-family: "SF Pro Display", "San Francisco", sans-serif;
    background: rgba(255, 255, 255, 0.95);
    color: #000;
    font-size: 15px;
    padding: 3px 6px 3px 6px;
}

#waybar {
    padding: 10px;
}

#custom-linux_settings {
    font-size: 18px;
}

#clock {
    font-size: 14px;
}
